<h1 class="text-primary">Analizar opiniones con Power Automate</h1>

<form method="post">
    <label>Opinion: </label>
    <input type="text" name="opinion" class="form-control"/>
    <br />
    <button class="btn btn-info">
        Analizar opinion
    </button>
</form>

<h2 class="text-primary">
    @ViewBag.Resultado
</h2>
